<% if flash[:warning] %>
	<h4 class="text-warning"><%= flash[:warning] %></h4>
<% end %>
<% if flash[:error] %>
	<h4 class="text-error"><%= flash[:error] %></h4>
<% end %>
<% if flash[:success] %>
	<h4 class="text-success"><%= flash[:success] %></h4>
<% end %>