<div class="nav-group">
  <ul class="inline">
    <li><%= link_to "Reports", :controller => "groups", :action => "reports" %></li>
    <li><%= link_to "Members", :controller => "groups", :action => "members" %></li>
    <li><%= link_to "Auto Creator", :controller => "auto_creator" %></li>
  </ul>
</div>