<h1>Pleas a group to init</h1>
<% @groups.each do |group| %>
  <%= button_to group.name, {:action => "select", :id => group.id} %>
<% end %>
<%= button_to "Personal", {:action => "select", :id => -1} %>